*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header{
  background-color: blue;
  color: white;
  text-align: center;
}
body{
  background-color: goldenrod;
}
#wrapper{
  width:80% ;
  margin: auto;
}

h2{ 
  padding: 1%;
}

header>figure>img{
  width: 100%;
  vertical-align: top;
  
}

header{overflow: hidden;
  height: 700px;
  }
  header>figure{
    object-fit: cover;
  }


nav{
  width: 20%;
  background-color: blue;
  text-align: center;
  padding: 1%;
  height: fit-content;
  margin: 2% 1%;
}
ul{
  list-style-type: none;
}
li{
  padding-bottom: 5%;
}

a{
  color: white;
}
main{
  display: flex;
  background-color: white;

}


article{
  width: 60%;
  padding: 2% 0;
}
article>h1{
  color: goldenrod;
  padding: 2% 0;
}
article>p{
  text-align: justify;
}

aside{
  width: 20%;
  background-color: blue;
  padding: 1% 3%;
  margin: 1%;
  
}

aside>figure>img{
  width: 100%;
  border: 1px solid white;
  
}

h3{
  color: white;
  text-align: center;
  padding-bottom: 5%;
}
aside>p{
  color: white;
  text-align: justify;
  
}
footer{
  width: 80%;
  background-color: blue;
  text-align: center;
  color: white;
  margin: auto;
  padding: 0.50%;
}
